body {
  font-family: Georgia,Verdana,Sans-serif;
  font-size: 120%;
  background: darkblue;
  margin: 5px;
}

h1, h2 {
  font-weight: bold;
  margin-top: 1.25em;
}
fieldset {
  margin-top: 1em;
}
legend {
  font-weight: bold;
  font-size: 150%;
}
.regexplist li {
  list-style-type: none;
}
ul.regexplist {
  padding-left: 1em;
}
.regexplist label {
  padding-left: 0;
}
.regexplist fieldset {
  padding-top: 0;
  padding-bottom: 0;
}

h1:first-child { margin-top: 5px; }
p:first-child { margin-top: 5px; }

div#header {
  padding-bottom: 1em;
  margin-bottom: 4px;
}
div#header h1 {
  font-size: 300%;
  margin-bottom: 0;
}

div {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  background: white;
  border: 2px solid black;
}

label {
  width: 35%;
  float: left;
  padding-left: 2em;
  font-weight: bold;
}

input[type=text] {
  width: 60%;
}

hr {
  margin-top: 2em;
}
